---
import Button from "../../Button.astro";
import Thunder from "../../icons/thunder.astro";
import SearchInput from "../../search-input.vue";
import BrandIcon from "../../../assets/landing_page/Add.png";
// @ts-ignore
import { Image } from "astro:assets";
---

<div
  class="hero-banner py-14 lg:py-0 lg:min-h-screen 2xl:min-h-[80vh] 2xl:py-20 h-full"
>
  <div
    class="lg:mt-16 flex items-center justify-center 2xl:mt-0 flex-col gap-y-5"
  >
    <h1
      data-aos="fade-up"
      data-aos-duration="2000"
      class="text-3xl lg:text-[3.6em] text-center font-bold lg:leading-[135%]"
    >
      Start Your Website <br class="hidden lg:block" /> Development Agency Using
      A.I
    </h1>

    <p
      data-aos="fade-up"
      data-aos-duration="1000"
      class="text-gray-25 text-center text-md lg:text-[1.4rem] lg:leading-[167%] capitalize font-light px-6 lg:px-0"
    >
      drag-n-drop website builder helps you create local business & <br
        class="hidden lg:block"
      />
       proffesional websites using just a keyword!
    </p>

    <Button
      data-aos="fade-up"
      data-aos-duration="1500"
      class="w-[246px] mt-4 lg:mt-5 smart-blok__btn h-[50px] lg:h-[62px] flex items-center justify-center gap-x-3"
    >
      <Thunder />
      <span>Build Your Website</span>
    </Button>

    <div  data-aos="fade-up"
    data-aos-duration="1500" class="w-full mx-4 lg:mx-0 max-w-[44rem] lg:mt-16">
      <div
        class="flex items-center lg:gap-x-0 2xl:gap-x-0 smart-blok-search p-2"
      >
        <Image
          class="w-[6.7rem] h-[60px] lg:h-[5rem]"
          src={BrandIcon}
          alt="Brand Icon"
        />
        <SearchInput client:only="vue" />
      </div>
    </div>
  </div>
</div>
