---
import SiteLayout from "../layouts/SiteLayout.astro";
import { Image } from "astro:assets";
import Site from "../assets/contact/site.png";
import ContactForm from "../components/Contact-Form.vue";
---

<SiteLayout>
  <div class="lg:flex lg:gap-x-24 my-12">
    <Image
      class="h-[772.487px] w-[700px] object-contain hidden lg:block"
      src={Site}
      alt="site"
    />

    <div class="contact-us container mx-auto px-8 lg:px-0">
      <h3
        class="text-4xl lg:text-[56.665px] font-bold leading-[144%] capitalize"
      >
        contact us
      </h3>
      <p class="text-[#1E252B] font-Manrope text-xl lg:text-[21.249px]">
        Questions, bug reports, feedback.
      </p>

      <ContactForm client:load />
    </div>
  </div>
</SiteLayout>
