---
import Button from "../components/Button.astro";
import Logo from "../components/Logo.astro";
// import MobileMenu from "../components/mobileMenu.vue";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1).includes("-")
  ? pathname.slice(1).split("-").join(" ")
  : pathname.slice(1);



interface Link {
  title: string;
  url: string;
}

const links: Link[] = [
  {
    title: "Home",
    url: "/",
  },
  {
    title: "Features",
    url: "/features",
  },
  {
    title: "Pricing",
    url: "/pricing",
  },
  {
    title: "Contact Us",
    url: "/contact-us",
  },
];
---

<nav
  class="container mx-auto flex items-center w-full
    lg:justify-between lg:w-[1600px] 2xl:max-w-[100rem] px-6 lg:px-12 py-6 lg:py-4 md:my-4 bg-gray-5 lg:rounded-full"
>
  <div class="h-full">
    <a href="/">
      <Logo />
    </a>
  </div>

  <ul class="lg:flex lg:items-center gap-x-10 hidden font-poppins">
    {
      links.map((link) => (
        <li>
          <a
            class={
              currentPath === link.title.toLowerCase() ||
              (currentPath === "" && link.title.toLowerCase() === "home")
                ? "text-primary"
                : "text-[#808080] hover:text-primary"
            }
            href={link.url}
          >
            {link.title}
          </a>
        </li>
      ))
    }
  </ul>

  <Button class="w-[127px] smart-blok__btn h-[48.616px] hidden lg:block">
    Sign In
  </Button>

  <!-- <MobileMenu client:load /> -->
</nav>
