---
import Button from "../components/Button.astro";
import Logo from "../components/Logo.astro";
// import MobileMenu from "../components/mobileMenu.vue";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1).includes("-")
  ? pathname.slice(1).split("-").join(" ")
  : pathname.slice(1);

interface Link {
  title: string;
  url: string;
}

const links: Link[] = [
  {
    title: "Home",
    url: "/",
  },
  {
    title: "Features",
    url: "/features",
  },
  {
    title: "Pricing",
    url: "/pricing",
  },
  {
    title: "Contact Us",
    url: "/contact-us",
  },
];
---

<nav
  class="container mx-auto flex items-center w-full
    lg:justify-between lg:w-[100rem] xl:max-w-[85rem] px-6 lg:px-12 py-6 lg:py-3 md:my-4  lg:rounded-full sticky top-4 !z-50"
>
  <div class="h-full">
    <a href="/">
      <Logo />
    </a>
  </div>

  <ul class="lg:flex lg:items-center gap-x-10 hidden font-poppins">
    {
      links.map((link) => (
        <li>
          <a
            class={
              currentPath === link.title.toLowerCase() ||
              (currentPath === "" && link.title.toLowerCase() === "home")
                ? "text-primary"
                : "text-[#808080] hover:text-primary"
            }
            href={link.url}
          >
            {link.title}
          </a>
        </li>
      ))
    }
  </ul>

  <Button class="w-[7.9375rem] smart-blok__btn h-[3rem] hidden lg:block">
    Sign In
  </Button>

  <!-- <MobileMenu client:load /> -->
</nav>


<style>
  nav{
    backdrop-filter: blur(15px);
    background-color: rgba(30, 37, 43, 0.05);
  }
</style>